.meals{
  height: 100vh;
  width: 40vw;
  display: block;
  border-right: 1px solid black;
}
.breakfast,.dinner,.supper{
  height: 33vh;
  width: 100%;
  display: block;
  border: 1px solid black;
}

